* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    display: flex;
}

.mainImg {
    height: 100vh;
    width: auto;
}

.main {
    display: flex;
    flex-direction: column;
}